

<!-- <nav class="navbar navbar-expand-sm bg-light mt-5">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
     
      <li class="nav-item px-5">
        <a class="btn btn-link" routerLink="home">Home</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li> <a class="dropdown-item"  href="#" class="btn btn-link" routerLink="about-us">AboutUs</a></li>
          <li><a class="dropdown-item"  href="#" class="btn btn-link" routerLink="future-work">future Work</a></li>
           <li><a class="dropdown-item"  href="#" class="btn btn-link" routerLink="offers">Offers</a></li>
      </ul>
      </li>
      <li class="nav-item px-5">
        <a class="btn btn-link" routerLink="services">Services</a>
      </li>
      <li class="nav-item px-5">
        <a class="btn btn-link" routerLink="portfolio">Portfolio</a>
      </li>
      
    </ul>
  </div>
</nav> -->

<nav class=" navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" class="text-warning">Constrotech</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="home">
            Home
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" class="btn btn-link" href="">AboutUs</a></li>
            <li><a class="dropdown-item">Future Work</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item">Offers</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="home">
            Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" class="btn btn-link" href="">Architectural-Design</a></li>
            <li><a class="dropdown-item">Construction-consultant</a></li>
            <li><a class="dropdown-item">Design and Construction</a></li>
            <li><a class="dropdown-item">Green Building</a></li>
            <li><a class="dropdown-item">House Renovation</a></li>
            <li><a class="dropdown-item">Reconstruction Services</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="home">
            portfolio
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" class="btn btn-link" href="">Commercial</a></li>
            <li><a class="dropdown-item">Education</a></li>
            <li><a class="dropdown-item">Industrial</a></li>
            <li><a class="dropdown-item">Residential</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="contact">Contact</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<app-header></app-header>



<div class="container">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>